<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="canonical" href="<%= url %>" />
		<meta name="theme-color" content="#0e1628" />

		<meta name="keywords" content="<%= title %>, Dashboard" />

		<!-- <title>Portal | <%= title %></title> -->
		<meta name="description" content="<%= description %>" />

		<meta name="twitter:image" content="/bg-og-image-<%= project %>.png" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="<%= title %>" />
		<meta name="twitter:description" content="<%= description %>" />

		<meta name="og:image" content="/bg-og-image-<%= project %>.png" />
		<meta name="og:title" content="<%= title %>" />
		<meta name="og:description" content="<%= description %>" />
		<meta name="og:url" content="<%= url %>" />
		<meta name="og:site_name" content="<%= title %>" />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="en_US" />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />

		<link rel="icon" type="image/svg+xml" href="/favicon-<%= project %>.svg" />
		<link rel="apple-touch-icon" href="/favicon-<%= project %>.svg" />
	</head>
	<body>
		<div id="app"></div>
		<script type="module" src="/src/main.ts"></script>
	</body>
</html>
